<!DOCTYPE html>
<html>
<head>
  <title>Add Friend</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Send Friend Request</h1>

  <form action="/friends/request" method="POST">
    <label for="targetUser">Username:</label><br>
    <input type="text" id="targetUser" name="targetUser" required><br><br>
    <button type="submit">Send Friend Request</button>
  </form>

  <br>
  <a href="/friends/page">â† Back to Friends List</a>
</body>
</html>
